<div>
    <h2>Hi There {{ name }}!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic magni, possimus, qui fugiat provident aperiam dolores sequi suscipit dolore numquam quam veniam. Ex numquam reiciendis sapiente saepe ducimus quos! Nemo, vel? Ipsam delectus corrupti quas facere doloribus assumenda eligendi ducimus, ullam in itaque inventore vel molestiae, maiores ratione incidunt id.</p>
</div>